.applications-container {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: #CDEDF6;

    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

.application {
    padding: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #D9D9D9;

    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;

    h3 {
        color: $text2;
    }
}
